.header 	
	.wrapper 
		.header__body 
			a.header__logo(href="#") 
				.logo logo
			.header__burger
				span
			nav.header__menu
				ul.header__list
					li
						a(href='#').header__link О нас
					li
						a(href='#').header__link Оплата и доставка
					li
						a(href='#').header__link Новости
					li
						a(href='#').header__link Контакты
					li
						a(href='#').header__link Соцсети 
					li
						a(href='#').header__link Товары
					li
						a(href='#').header__link Товары
					li
						a(href='#').header__link Товары
					li
						a(href='#').header__link Товары

